# .NET Core build folders
bin/
obj/
# Common node modules locations
/node_modules
/wwwroot/node_modules

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
!**/packages/repositories.config
